<!-- ==========-=-=-=-=-=-=-=-=-=-= MODAL SEGUIMIENTOS =-=-=-=-=-=-=-=-=-=-========== -->
<div class="modal fade" id="seguimientos" tabindex="-1" role="dialog" aria-labelledby="seguimientos" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class='col-12 modal-title text-center'>
          Seguimientos caso <%= @caso.id %>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </h3>
      </div>
      <div class="modal-body">
        <div class="jumbotron">
          <h1 class="display-4">Ventana bloqueada</h1>
          <p class="lead">El usuario <b><%= @caso.touched_by.nombre_completo %></b> se encuentra actualmente visualziando este caso</p>
          <p class="lead">Por lo tanto debes esperar <b><%= @caso.touched_by.nombre_completo %></b> minutos para poder acceder a esta información.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =-=-=-=-=-=-=-=-=-=-========== MODAL SEGUIMIENTOS ==========-=-=-=-=-=-=-=-=-=-= -->
