#landing-width-body
{
  background: #d80000;
}

#session-width-body
{
  background: url(image-path('background-login.png')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
